.row-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 108, 57, 0.4);
  overflow: visible;
  width: 75vw;
  margin: 0.2em;
  padding: 0em 2em 0em 0.1em;
  border-radius: 0.3em;
  color: #034d66;
}

.row-container > div {
  width: 15em;
  margin: 0.3em;
  padding: 0.1em;
  text-align: center;
  line-height: 0.85em;
  font-size: 0.7em;
}

.row-container:nth-child(odd) {
  background-color: rgba(144, 233, 91, 0.45);
}

.row-container:nth-child(odd) > div {
  border: 1px;
  border-color: black;
}

.header-container {
  width: 75vw;
  display: flex;
  padding: 0em 2em 0em 0.1em;
  margin: 0.2em;
  justify-content: space-between;
  background-color: rgba(53, 142, 0, 0.9);
  color: #f1f1f1;
}

.header-container > div {
  width: 15em;
  margin: 0em;
  padding: 0.1em;
  line-height: 2em;
  font-size: 0.8em;
  border-left: 0.33em solid rgba(163, 42, 0, 0.77);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #43b500;
  color: #;
}

.modal-body {
  padding: 2px 16px;
  background-color: rgba(144, 233, 91, 0.5);
  color: black;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #43b500;
  color: white;
}
