.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #f1f1f1;
  font-weight: bold;
}
.z-show {
  z-index: 10;
}
.searchHead {
  background-color: #891d00;
  opacity: 0.666;
  padding: 0.7em 2em;
  transition-property: padding, opacity;
  transition-duration: 0.25s, 0.1s;
}
.searchHead:hover {
  opacity: 0.83;
  padding: 1.5em;
}
.searchHead:active {
  opacity: 1;
}
.searchBody {
  opacity: 0.9;
  background-color: #ff8c64;
  width: 100%;
  height: 0vh;
  transition: height 0.5s;
}
.searchBody-show {
  height: 80vh;
}
.resultsList {
  overflow: auto;
  max-height: 50vh;
  margin-left: 10vw;
}
