.row-container {
  display: flex;
  justify-content: space-between;
  background-color: #dcdcdc;
  overflow: visible;
  width: 75vw;
  margin: 0.2em;
  padding: 0em 2em 0em 0.1em;
  border-radius: 0.3em;
}

.row-container > div {
  width: 15em;
  margin: 0.3em;
  padding: 0.1em;
  text-align: center;
  line-height: 0.85em;
  font-size: 0.7em;
}
.row-container:nth-child(odd) {
  background-color: #c0c0c0;
}
.row-container:nth-child(odd) > div {
  border: 1px;
  border-color: black;
}
.header-container {
  width: 75vw;
  display: flex;
  padding: 0em 2em 0em 0.1em;
  margin: 0.2em;
  justify-content: space-between;
  background-color: #58a400;
  color: #f1f1f1;
}

.header-container > div {
  width: 15em;
  margin: 0em;
  padding: 0.1em;
  line-height: 2em;
  font-size: 0.8em;
  border-left: 0.33em solid red;
}
