.row-container {
  display: flex;
  justify-content: space-around;
  background-color: DodgerBlue;
}

.row-container > div {
  background-color: #f1f1f1;
  width: 20vw;
  margin: 5px;
  padding: 0.5vh 5vw;
  text-align: center;
  line-height: 10px;
  font-size: 20px;
}
.header-container {
  display: flex;
  justify-content: space-around;
  background-color: #4caf50;
  color: #f1f1f1;
}

.header-container > div {
  width: 20px;
  margin: 10px;
  text-align: center;
  line-height: 15px;
  font-size: 20px;
}
